body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:588px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:588px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:77px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:491px;
  width:1211px;
  height:77px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_ann {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:487px;
  width:1px;
  height:1px;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:587px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1042px;
  width:1280px;
  height:587px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:1529px;
  width:345px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u90_ann {
  border-width:0px;
  position:absolute;
  left:1217px;
  top:1525px;
  width:1px;
  height:1px;
}
