body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749.66666666667px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:414px;
  height:736px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:0px;
  width:414px;
  height:736px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:933px;
  width:414px;
  height:736px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
  background:inherit;
  background-color:rgba(43, 104, 191, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#C5F366;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:1531px;
  width:79px;
  height:29px;
  font-size:14px;
  color:#C5F366;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:933px;
  width:414px;
  height:736px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:367px;
  width:0px;
  height:0px;
}
#u141_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:254px;
  height:8px;
}
#u141_seg1 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:-4px;
  width:8px;
  height:9px;
}
#u141_seg2 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:-3px;
  width:253px;
  height:8px;
}
#u141_seg3 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:-9px;
  width:20px;
  height:20px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:215px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:369px;
  height:8px;
}
#u143_seg1 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:-4px;
  width:8px;
  height:161px;
}
#u143_seg2 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:149px;
  width:130px;
  height:8px;
}
#u143_seg3 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:143px;
  width:20px;
  height:20px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:605px;
  width:0px;
  height:0px;
}
#u145_seg0 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:-4px;
  width:190px;
  height:8px;
}
#u145_seg1 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:-4px;
  width:8px;
  height:266px;
}
#u145_seg2 {
  border-width:0px;
  position:absolute;
  left:-428px;
  top:254px;
  width:246px;
  height:8px;
}
#u145_seg3 {
  border-width:0px;
  position:absolute;
  left:-428px;
  top:254px;
  width:8px;
  height:74px;
}
#u145_seg4 {
  border-width:0px;
  position:absolute;
  left:-434px;
  top:313px;
  width:20px;
  height:20px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:-236px;
  top:182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:980px;
  width:0px;
  height:0px;
}
#u147_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u147_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-157px;
  width:8px;
  height:161px;
}
#u147_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-157px;
  width:178px;
  height:8px;
}
#u147_seg3 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-244px;
  width:8px;
  height:95px;
}
#u147_seg4 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-249px;
  width:20px;
  height:20px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-161px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1473px;
  top:604px;
  width:0px;
  height:0px;
}
#u149_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u149_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:282px;
  height:8px;
}
#u149_seg2 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:6px;
  width:8px;
  height:617px;
}
#u149_seg3 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:615px;
  width:103px;
  height:8px;
}
#u149_seg4 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:609px;
  width:20px;
  height:20px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:214px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:976px;
  width:0px;
  height:0px;
}
#u151_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-123px;
  width:8px;
  height:123px;
}
#u151_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-123px;
  width:193px;
  height:8px;
}
#u151_seg2 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:-240px;
  width:8px;
  height:125px;
}
#u151_seg3 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:-245px;
  width:20px;
  height:20px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-127px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1253px;
  top:41px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-244px;
  top:-4px;
  width:248px;
  height:8px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:-10px;
  width:20px;
  height:20px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:1613px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:-576px;
  top:-4px;
  width:576px;
  height:8px;
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:-576px;
  top:-1088px;
  width:8px;
  height:1092px;
}
#u155_seg2 {
  border-width:0px;
  position:absolute;
  left:-576px;
  top:-1088px;
  width:158px;
  height:8px;
}
#u155_seg3 {
  border-width:0px;
  position:absolute;
  left:-433px;
  top:-1094px;
  width:20px;
  height:20px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:-622px;
  top:-341px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
