body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:85px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:635px;
  width:31px;
  height:85px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:85px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:635px;
  width:31px;
  height:85px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:85px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:635px;
  width:31px;
  height:85px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:85px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:635px;
  width:31px;
  height:85px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:650px;
  width:38px;
  height:34px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1106px;
  top:694px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
